*{
    font-family: "sans-serif", Arial, Helvetica, sans-serif;
    text-decoration: none;
}
:root{
    --background-body: #E9ECEF;
    --color-text: #343A40;
}
#main{
    margin: 2rem 0.5rem;
    background-color: var(--background-body);
    border-radius: 5px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    color: var(--color-text);
}
header h1{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 6rem;
}
header h2{
    font-size: .9rem;
    text-align: center;
}
section#picture {width: 97%;}
figure {
    max-width: 100%;
    height: auto;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
img {
    max-width: 97%;
    height: auto;
}
figcaption {
    text-align: center;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
}
#description h2{
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}
ul{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 60%;
    margin: auto;
    line-height: 1.5rem;
}
span {font-weight: bold;}
section#blockquote{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 60%;
    padding-top: 3rem;
    line-height: 1.5rem;
    gap: 1rem;
    font-style: italic;
}
footer {
    width: 90%;
    height: auto;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5rem;
    padding: 1rem 0;
}
@media all and (min-width:768px){

}